.App {
  display: flex;
  justify-content: center;
}
.block-app {
  width: 800px;
  display: flex;
}
.block-items-user {
  width: 250px;
  list-style-type: none
}
.item-user {
  padding: 12px 5px;
  border: 1px solid #d6d6d6;
  margin: 7px 0;
  border-radius: 5px;
  cursor: pointer;
}
.block-details {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.item-data {
  padding: 15px 10px;
  border-bottom: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}
.item-img {
  border: 1px solid #d6d6d6;
  width: 300px;
  height: 300px;
}


